*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00ffff;
}

header {
    width: 100vw;
    height: 20vh;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1, header>h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0000ff;
}

header>h1 {
    font-size: 8vh;
}

header>h3 {
    font-size: 6vh;
}

nav {
    width: 100vw;
    height: 10vh;
    border-top: #00ffff solid 3px;
    background-color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navButton {
    display: block;
    height: 7vh;
    width: 10vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    background-color: #000000;
    color: #00ffff;
    text-align: center;
    border-radius: 5px;

}

.navButton:hover{
    color: #000000;
    background-color: #000000;
}